:root {
    --border: 1px solid black;
}

body {
    background-color: lightcoral;
}

#btn-container {
    width: fit-content;
    margin: auto;
}

#resize-btn {
    margin: 1rem auto;
}

.row {
    display: flex;
    justify-content: center;
}

.box {
    background-color: white;
    aspect-ratio: 1 / 1;
}

.b-top {
    border-top: var(--border);
}
.b-right {
    border-right: var(--border);
}
.b-bottom {
    border-bottom: var(--border);
}
.b-left {
    border-left: var(--border);
}